#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.homebuttons {
  background-color: var(--kruisingablauw);
  color: white;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: white;
  border-top: 1px solid #ddd;
}

.bottom-nav button {
  background: none;
  border: none;
  font-size: 14px;
}
